<div data-ng-controller="shell as vm">
    <div data-ng-include="'/app/layout/sidebar.html'"></div>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
            </nav>
        </div>
        <div data-ui-view class="shuffle-animation"></div>
    </div>
</div>
